table {
    max-height: 80vh;
    font-family: arial, sans-serif;
    background: #272727;
    margin: auto;
    border-collapse: collapse;
    width: 40%;
    tbody {
        td {
            color: #cf6679;
            border-bottom: 1px solid #cf6679;
            text-align: center;
            font-weight: bolder;
            padding: 8px;
        }
        tr {
            transition: 0.4s ease;
        }
        tr:hover {
            height: 50px;
            background: silver;
        }
    }
    & img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}
h1 {
    color: #bbb6fc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}
