:root {
    --pink: #cf6679;
    --purple: #8739f9;
    --black: #363636;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;

    .popup-modal {
        width: 350px;
        height: 350px;
        border: 3px solid silver;
        background: var(--black);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 200ms ease-in-out;
        .header {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid silver;
            margin-bottom: 20px;
            h3 {
                color: var(--purple);
                padding-left: 10px;
            }
            .close-button {
                color: var(--purple);
                background-color: var(--black);
                font-size: 1em;
                border: none;
                outline: none;
                cursor: pointer;
                margin: 20px 10px;
            }
            .close-button:hover {
                font-size: 1.5em;
                margin: 15px 6px;
                font-weight: bolder;
            }
        }
        .user-card {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .user-info {
                color: var(--pink);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                font-style: italic;
                margin: auto;
                padding: 6px 0;
            }
            & img {
                height: 140px;
                width: 140px;
                padding-bottom: 5px;
                border-radius: 50%;
            }
        }
    }
}
